<appSettings>
	<!-- May need to add spaces to Role Values -->
	<!-- Security Roles -->
	<add key="startupRoles" value="Administrator;Director;FoodService;OfficeManager;Clerk" />
	<!-- Admin Credentials -->
	<add key="adminUserName" value="Admin" />
	<add key="adminEmail" value="Admin@eRace.ca" />
	<add key="adminPassword" value="Password" />
	<add key="adminRole" value="Administrator" />
	<!-- Director Credentials -->
	<add key="dirId" value="35" />
	<add key="dirUserName" value="CRunningwolf" />
	<add key="dirEmail" value="CRunningwolf@eRace.ca" />
	<add key="dirPassword" value="Password" />
	<add key="dirRole" value="Director" />
	<!-- FoodService Credentials -->
	<add key="foodServiceId" value="44" />
	<add key="foodServiceUserName" value="KarenS" />
	<add key="foodServiceEmail" value="KarenS@eRace.ca" />
	<add key="foodServicePassword" value="Password" />
	<add key="foodServiceRole" value="FoodService" />
	<!-- OfficeManager Credentials -->
	<add key="officeManagerId" value="12" />
	<add key="officeManagerUserName" value="KarenY" />
	<add key="officeManagerEmail" value="KarenY@eRace.ca" />
	<add key="officeManagerPassword" value="Password" />
	<add key="officeManagerRole" value="OfficeManager" />
	<!-- Clerk Credentials -->
	<add key="clerkId" value="49" />
	<add key="clerkUserName" value="SusanS" />
	<add key="clerkEmail" value="SusanS@eRace.ca" />
	<add key="clerkPassword" value="Password" />
	<add key="clerkRole" value="Clerk" />
</appSettings>