<connectionStrings>
  <!-- TODO #5 Change DefaultConnection to be the same as ChinookDB -->
  <add name="DefaultConnection"
       connectionString="Data Source=.; Initial Catalog=eRace; Integrated Security=true;"
        providerName="System.Data.Sqlclient"/>
  <add name="eRaceDB"
        connectionString="Data Source=.; Initial Catalog=eRace; Integrated Security=true;"
        providerName="System.Data.Sqlclient"/>
</connectionStrings>